## imports
importFrom(utils, head, tail)

## mutaframe data.frame style accessors
S3method("$", mutaframe)
S3method("[[", mutaframe)
S3method("$<-", mutaframe)
S3method("[[<-", mutaframe)
S3method("[", mutaframe)
S3method("[<-", mutaframe)
S3method(nrow, mutaframe)
S3method(ncol, mutaframe)
S3method(dim, mutaframe)
S3method("names<-", mutaframe)
S3method(names, mutaframe)
S3method("dimnames<-", mutaframe)
S3method(dimnames, mutaframe)

## mutalist list style accessors
S3method("names<-", mutalist)
S3method(names, mutalist)
S3method("[[", mutalist)
S3method("[[<-", mutalist)
S3method("$<-", mutalist)
S3method("[<-", mutalist)
S3method("[", mutalist)
S3method(head, mutalist)
S3method(tail, mutalist)

## coercion
export(as.mutaframe, is.mutaframe)
S3method(as.data.frame, mutaframe)
S3method(as.mutaframe, default)
S3method(as.mutaframe, data.frame)
S3method(as.mutaframe, mutaframe)
S3method(as.list, mutalist)
S3method(as.data.frame, mutalist)

## construction
export(mutaframe, mutalist)

## events
export(add_listener, shape_changed, notify_listeners, pause, unpause, is_paused,
       remove_listener)

## signals
export(Signal)
exportClasses("Signal")
export(signalingField, declareSignal)

## linking
exportClasses("Selection", "ItemSelection", "RegionSelection")
export(ItemSelection, RegionSelection, DataSelection)
exportMethods(as.integer, as.numeric, as.logical, as.factor, as.matrix, which)
export(duplex_data_linker, match_any_linker)

## utilities
S3method(c, mutalist)
S3method(lapply, mutalist)
S3method(unlist, mutalist)
S3method(rev, mutalist)
S3method(rep, mutalist)
export(mutalist2env)

## printing
S3method(print, mutaframe)
S3method(print, mutalist)
